* {
  margin:10px;
  padding:0px;
  background-color: aquamarine;
}

#octocat {
  display: flex;
  width:484px;
  margin: 50px auto;
}

p {
  display: block;
  width: 480px;
  margin: 50px auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:large;
}
